<h1 style="text-align:center;">Events</h1>
<div class="ui link cards" style="text-align:center; margin-left: -70px; margin-right: -70px;">
  <div class="card">
    <div class="image" style="height:225px;">
      <%= image_tag "basketball.jpg"%>
    </div>
    <div class="content">
      <div class="header">Basketball</div>
      <div class="meta">
        <span class="date">5 v 5</span>
      </div>
      <div class="description">
        Welcome to the Space Jam!
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Started in 2010
      </span>
      <span>
        <i class="user icon"></i>
        35 Signed Up
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image" style="height:225px;">
      <%= image_tag "dance.jpg"%>
    </div>
    <div class="content">
      <div class="header">Dance</div>
      <div class="meta">
        <span class="date">No limit</span>
      </div>
      <div class="description">
        Watch me whip... watch me nae nae.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Started in 2011
      </span>
      <span>
        <i class="user icon"></i>
        60 Signed Up
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image" style="height:225px;">
      <%= image_tag "dodgeball.jpg" %>
    </div>
    <div class="content">
      <div class="header">Dodgeball</div>
      <div class="meta">
        <a>6 v 6</a>
      </div>
      <div class="description">
        Dodge, duck, dip, dive, and dodge!
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Started in 2010
      </span>
      <span>
        <i class="user icon"></i>
        75 Signed Up
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image" style="height:225px;">
      <%= image_tag "flagfootball.jpg"%>
    </div>
    <div class="content">
      <div class="header">Flag Football</div>
      <div class="meta">
        <span class="date">7 v 7</span>
      </div>
      <div class="description">
        "The only place success comes before work is in the dictionary." -Vince Lombardi
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Started in 2010
      </span>
      <span>
        <i class="user icon"></i>
        100 Signed Up
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image" style="height:225px;">
      <%= image_tag "soccer.jpg"%>
    </div>
    <div class="content">
      <div class="header">Soccer</div>
      <div class="meta">
        <span class="date">7 v 7</span>
      </div>
      <div class="description">
       	Bend it Like Beckham!
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Started in 2010
      </span>
      <span>
        <i class="user icon"></i>
        120 Signed Up
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image" style="height:225px;">
      <%= image_tag "volleyball.jpg", title: "Image taken from https://www.flickr.com/photos/ajguel/4980257130"%>
    </div>
    <div class="content">
      <div class="header">Volleyball</div>
      <div class="meta">
        <span class="date">6 v 6</span>
      </div>
      <div class="description">
        Bump. Set. Spike.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Started in 2010
      </span>
      <span>
        <i class="user icon"></i>
        35 Signed Up
      </span>
    </div>
  </div>
    <div class="card">
    <div class="image" style="height:225px;">
      <%= image_tag "baton.jpg", title: "Image taken from https://www.flickr.com/photos/53370644@N06/4976497160"%>
    </div>
    <div class="content">
      <div class="header">Relay Race</div>
      <div class="meta">
        <span class="date">4 per school</span>
      </div>
      <div class="description">
        Bump. Set. Spike.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Started in 2010
      </span>
      <span>
        <i class="user icon"></i>
        28 Signed Up
      </span>
    </div>
  </div>
    <div class="card">
    <div class="image" style="height:225px;">
      <%= image_tag "running.jpg", title: "Image taken from https://www.flickr.com/photos/josiahmackenzie/3414064391"%>
    </div>
    <div class="content">
      <div class="header">5K Run</div>
      <div class="meta">
        <span class="date">Free for all</span>
      </div>
      <div class="description">
        Bump. Set. Spike.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Started in 2010
      </span>
      <span>
        <i class="user icon"></i>
        25 Signed Up
      </span>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<div style="text-align:center;">
	Two images above were used under the <a href="http://creativecommons.org/licenses/by/4.0/legalcode">Creative Commons License</a>.
</div>