<h1 style="text-align:center;">Sponsors</h1>
<p style="text-align:center;"><em>Please take a minute to thank our sponsors and visit their pages. Without them, none of this would be possible.</em></p>
<br/>
<h2 style="color: #E5E4E2; background-color: black;">Platinum</h2>
<div style="text-align:center;">
	<%= link_to image_tag("memorang.png", :size => "750x225"), 'https://www.memorangapp.com/'%>
</div>

<h2 style="color: #D4AF37; background-color: black;">Gold</h2>
<div style="text-align:center;">
	<%= link_to image_tag("kaplan.png", :size => "450x150"), 'http://www.kaptest.com/'%>
</div>
<hr/>
<div style="text-align:center;">
	<%= link_to image_tag("taggler.png", :size => "450x150"), 'http://www.taggler.com/'%>
</div>
<hr/>
<div style="text-align:center;">
	<%= link_to image_tag("dit.jpeg", :size => "450x150"), 'http://www.doctorsintraining.com/'%>
</div>


<h2 style="color: #C0C0C0; background-color: black;">Silver</h2>
<div class="ui two column grid">
	<div class="column">
		<div style="text-align:center;">
			<%= link_to image_tag("picmonic.png", :size => "325x115"), 'http://www.picmonic.com/'%>
		</div>
	</div>
	<div class="column">
		<div style="text-align:center;">
			<%= link_to image_tag("sketchymedical.jpg", :size => "325x115"), 'http://www.sketchymedical.com/'%>
		</div>
	</div>
	<div class="column">
		<div style="text-align:center;">
			<%= link_to image_tag("doximity.png", :size => "325x115"), 'http://www.doximity.com/'%>
		</div>
	</div>
</div>

<h2 style="color: #CD7F32; background-color: black;">Bronze</h2>
<div class="ui three column grid">
	<div class="column">
		<div style="text-align:center;">
			<%= link_to image_tag("soulcycle.png", :size => "225x75"), 'http://www.soul-cycle.com/'%>
		</div>
	</div>
	<div class="column">
		<div style="text-align:center;">
			<%= link_to image_tag("pathoma.jpg", :size => "225x75"), 'http://www.pathoma.com/'%>
		</div>
	</div>
	<div class="column">
		<div style="text-align:center;">
			<%= link_to image_tag("lafitness.png", :size => "225x75"), 'http://www.lafitness.com/'%>
		</div>
	</div>
	<div class="column">
		<div style="text-align:center;">
			<%= link_to image_tag("classpass.png", :size => "225x75"), 'http://www.classpass.com/'%>
		</div>
	</div>
</div>

